# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
build/
dist/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Type checkers y linters
.mypy_cache/
.ruff_cache/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
